<mat-spinner class="spinner" *ngIf="!team"></mat-spinner>
<mat-card *ngIf="team">
  <mat-card-title>{{team.name}}</mat-card-title>
</mat-card>
<mat-divider></mat-divider>
<mat-card *ngIf="team && team.players">
  <mat-card-title>Players</mat-card-title>
  <mat-nav-list>
    <mat-list-item *ngFor="let player of team.players; let i=index">
      <a matLine [routerLink]="['/leagues', leagueId,'teams',team.id,'players',player.id]">{{player.first_name}} {{player.last_name}}
        <i [ngClass]="{starter: player.type, substitute:!player.type}">{{player.type?"(Starter)":"(Substitute)"}}</i>
      </a>
      <a [routerLink]="['/leagues', leagueId,'teams',team.id,'players',player.id]">
        <button mat-icon-button>
          <mat-icon>create</mat-icon>
        </button>
      </a>
      <button mat-icon-button (click)="deletePlayer(i)">
        <mat-icon>delete</mat-icon>
      </button>
      <a [routerLink]="['/leagues', leagueId,'teams',team.id,'players',player.id]">
        <button mat-icon-button>
          <mat-icon>open_in_new</mat-icon>
        </button>
      </a>
    </mat-list-item>
  </mat-nav-list>
</mat-card>
<a [routerLink]="['/leagues', leagueId,'teams','create']">
  <button mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</a>
