.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.fill {
    height: -webkit-fill-available;
}
.disabled-link {
  background-color: #cccccc;
  color: #666666;
}

.sidenav-container{
  min-height: -webkit-fill-available;
}
