.player-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.mat-fab {
  right: 0px;
  bottom: 0px;
  position: fixed;
  margin: 20px;
}

.mat-error {
  margin-bottom: 15px;
}
