<mat-spinner *ngIf="!player"></mat-spinner>
<mat-card>
  <form class="player-form" *ngIf="player" [formGroup]="formGroup" (onSubmit)="formGroup.valid && !updatingPlayer && update()">
    <mat-form-field class="full-width">
      <input required (keyup)='keyUpFirstName.next($event)' formControlName="firstName" matInput placeholder="First name" readonly="{{!updating}}" [(ngModel)]="player.first_name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input required (keyup)='keyUpFirstName.next($event)' formControlName="lastName" matInput placeholder="Last name" readonly="{{!updating}}" [(ngModel)]="player.last_name">
    </mat-form-field>
    <mat-error *ngIf="pending"> Checking name and last name availability...</mat-error>
    <mat-error *ngIf="invalidName">This first name and last name combination is already in use</mat-error>

    <mat-form-field class="full-width">
      <input matInput placeholder="Speed" readonly disabled="{{updating}}" value="{{player.speed}}">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Strength" readonly disabled="{{updating}}" value="{{player.strength}}">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Agility" readonly disabled="{{updating}}" value="{{player.agility}}">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Salary" readonly disabled="{{updating}}" value="${{player.salary}}">
    </mat-form-field>

    <button mat-fab (click)="updatePlayer()" color="primary" *ngIf="!updating">
      <mat-icon>create</mat-icon>
    </button>
    <button mat-fab color="primary" *ngIf="updating" (click)="formGroup.valid && update()" [disabled]="updatingPlayer">
      <mat-icon>check</mat-icon>
    </button>
  </form>
</mat-card>
