<mat-card>
  <form class="player-form" *ngIf="player">
    <mat-form-field class="full-width">
      <input matInput placeholder="First name" readonly="{{!updating}}" value="{{player.first_name}}">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Last name" readonly="{{!updating}}" value="{{player.last_name}}">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Speed" readonly disabled="{{updating}}" value="{{player.speed}}">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Strength" readonly disabled="{{updating}}" value="{{player.strength}}">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Agility" readonly disabled="{{updating}}" value="{{player.agility}}">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Salary" readonly disabled="{{updating}}" value="${{player.salary}}">
    </mat-form-field>

  </form>
</mat-card>
<button mat-fab (click)="updatePlayer()" color="primary" *ngIf="!updating">
  <mat-icon>create</mat-icon>
</button>
<button mat-fab color="primary" *ngIf="updating" (click)="confirm()">
  <mat-icon>check</mat-icon>
</button>
