<mat-spinner class="spinner" *ngIf="!player"></mat-spinner>
<mat-card>
  <form class="player-form" *ngIf="player" [formGroup]="formGroup" (onSubmit)="formGroup.valid && update()">
    <mat-form-field class="full-width">
      <input formControlName="firstName" matInput placeholder="First name" readonly="{{!updating}}" [(ngModel)]="player.first_name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input formControlName="lastName" matInput placeholder="Last name" readonly="{{!updating}}" [(ngModel)]="player.last_name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Speed" readonly disabled="{{updating}}" value="{{player.speed}}">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Strength" readonly disabled="{{updating}}" value="{{player.strength}}">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Agility" readonly disabled="{{updating}}" value="{{player.agility}}">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Salary" readonly disabled="{{updating}}" value="${{player.salary}}">
    </mat-form-field>

    <button mat-fab (click)="updatePlayer()" color="primary" *ngIf="!updating">
      <mat-icon>create</mat-icon>
    </button>
    <button mat-fab color="primary" *ngIf="updating" (click)="formGroup.valid && update()">
      <mat-icon>check</mat-icon>
    </button>
  </form>
</mat-card>
